/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS CUSTOM PROPERTIES */
.dark-theme {
    /* Collegamento al tema dark per il browser */
    color-scheme: dark;

    /* Variabili CSS personalizzate per il tema dark */
    --bg-color: #151515;
    --text-color: #f5deb3;
}

.light-theme {
    /* Collegamento al tema light per il browser */
    color-scheme: light;
    
    /* Variabili CSS personalizzate per il tema light */
    --bg-color: #f5deb3;
    --text-color: #151515;
}

:root {
    --font-size-page: 12px;
}

/* Unset all defaults margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow: hidden;
    gap: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size-page);
}

header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px var(--text-color);
    position: relative;
}

main {
    flex-grow: 1;
    overflow: auto;
    scrollbar-color: var(--text-color) var(--bg-color);
    position: relative;
}

footer {
    flex-shrink: 0;
    padding: 0.3rem;
    text-align: center;
    box-shadow: 0 -1px 7px var(--text-color);
}

.copy-link {
    color: inherit;
    font-weight: bold;
}

/* THEME MANAGEMENT */
.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
}

.theme-toggle:hover {
    cursor: pointer;
}

.theme-toggle i {
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.dark-theme,
.light-theme {
    transition: all 0.3s ease-in-out;
}

.current-theme {
    border-bottom: #f5deb3 2px solid;
}

/* HEADER SECTION */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    width: 95%;
    margin: auto;
}

h1 {
    font-weight: 900;
}

/* HEADER SECTION > SEARCH CONTAINER */
.search-container {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    position: relative;
}

.search-container form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

input[type="search"] {
    flex: 1;
    font-size: var(--font-size-page);
    padding: 0.8rem 1rem;
    border-radius: 4px;
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    outline: none;
    border: 1px solid;
}

input[type="search"]:focus {
    box-shadow: 0 0 15px springgreen;
    transition: all 0.2s;
}

input[type="search"]::placeholder {
    color: inherit;
    font-style: italic;
    letter-spacing: 1px;
}

.search-container button {
    padding: 0.8rem 1rem;
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    border: 1px solid;
    font-size: var(--font-size-page);
}

.search-container button:hover {
    transform: scale(0.95);
    transition: all 0.2s ease-in;
}

.results {
    position: absolute;
    top: calc(100% + 0.4rem);
    left: 0;
    width: 100%;
    max-height: calc((48px + 1rem) * 3);
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 100;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--text-color);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10%);
    transition: all 0.2s ease-in;
}

.results.open {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

#search-results {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#search-results:first-child {
    border-radius: 10px 10px 0 0;
}

.result-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid var(--text-color);
}

.result-item:hover,
.focus {
    background-color: rgba(0, 255, 128, 0.194);
    transition: all 0.2s ease-in;
}

.result-item span {
    font-style: italic;
}

.result-item:last-child {
    border-radius: 0 0 10px 10px;
    border: none;
}

.result-item .icon-champ-container {
    width: 48px;
    height: 48px;
}

.result-item .icon-champ-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN CONTAINER */
#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#cards-container.secondary {
    opacity: 0.3;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    border-radius: 15px;
    border: 1px solid var(--text-color);
}

.selected {
    box-shadow: 0 0 10px springgreen;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
} 

/* PANNELLO */
.panel {
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    top: 20%;
    left: 5%;
    height: 70%;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 2;
    transform: translateY(150%);
    transition: all 0.4s ease-in-out;
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

.panel.open {
    transform: translateY(0);
}

.close-button {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: end;
    padding-right: 5px;
    font-size: calc(var(--font-size-page) * 1.5);
    z-index: 2;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skin-container {
    flex-grow: 1;
}

.skin-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.carousel > .arrow-button {
    position: absolute;
    top: 35%;
    background-color: var(--bg-color);
    box-shadow: 0 2px 10px var(--text-color);
    border: none;
    border-radius: 30px;
    padding: 0.3rem;
    color: var(--text-color);
    font-size: calc(var(--font-size-page) * 1.5);
    cursor: pointer;
}

.carousel .arrow-button:first-of-type {
    left: 5px;
}

.carousel .arrow-button:last-of-type {
    right: 5px;
}

figcaption {
    text-align: center;
}

.indicators {
    flex-shrink: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* Forza la barra di scorrimento nascosta */
.indicators::-webkit-scrollbar {
    display: none;
}

.indicators i {
    cursor: pointer;
    flex-shrink: 0; 
}

.bi-dash {
    opacity: 0.2;
}

.bi-dash-lg {
    color: springgreen;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}

.name-panel-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 1rem 1rem;
}

.name-panel-container h2 {
    font-weight: 800;
}

.name-panel-container p {
    font-style: italic;
}

.panel-header > .arrow-button {
    border: none;
    background-color: inherit;
    color: inherit;
    padding: 1rem;
    font-size: calc(var(--font-size-page) * 2);
    cursor: pointer;
}

.arrow-button:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}

.panel-header > .arrow-button.not-allowed {
    transform: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.abilities-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
}

.ability-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.icon-ability-container {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.icon-ability-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

.ability-item:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 128, 0.194);
    transition: all 0.2s ease-in;
}

.ability-item:last-child {
    border: none;
}

.ability-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    text-align: center;
}

.ability-description {
    flex: 1;
    max-height: 0;
    overflow: hidden;
    opacity: 0.3;
}

.ability-description.open {
    opacity: 1;
    max-height: fit-content;
    transition: all 0.3s ease-in-out;
}

/* MEDIA QUERY RESPONSIVE DESIGN */
@media (min-width:768px) {
    :root {
        --font-size-page: 14px;
    }

    .search-container {
        width: 50%;
    }

    .carousel .arrow-button {
        top: 40%;
    }
    
    .carousel .arrow-button:first-of-type {
        left: 10px;
    }

    .carousel .arrow-button:last-of-type {
        right: 10px;
    }
}

@media (min-width:1024px) {
    :root {
        --font-size-page: 16px;
    }
    .search-container {
        width: 40%;
    }

    .panel {
        width: 70%;
        top: 10%;
        left: 15%;
        padding: 0 0.5rem;
        height: 550px;
    }

    .icon-ability-container {
        width: 65px;
        height: 65px;
    }
}

@media (min-width:1280px) {
    :root {
        --font-size-page: 18px;
    }

    .panel {
        height: 580px;
    }
}

@media (min-width:1440px) {
    :root {
        --font-size-page: 20px;
    }

    .panel {
        height: 600px;
    }
}


@media (min-width:1560px) {
    :root {
        --font-size-page: 24px;
    }

    .panel {
        height: 760px;        
    }

    .icon-ability-container {
        width: 80px;
        height: 80px;
    }
}

@media (min-width:1920px) {
    :root {
        --font-size-page: 28px;
    }

    .panel {
        height: 900px;
    }

    .carousel .arrow-button:first-of-type {
        left: 50px;
    }

    .carousel .arrow-button:last-of-type {
        right: 50px;
    }

    .icon-ability-container {
        width: 100px;
        height: 100px;
    }
}
